{% extends 'sb/layout.html.twig' %}

{% block title %}{{ info.title ?? '' }}{% endblock %}
{% block nav_name %}{{ info.title ?? '' }}{% endblock %}
{% block main %}
    <div class="panel-body">
        {% autoescape false %}
            {{ info.contents ?? ''  }}
        {% endautoescape %}

        <p class="text-right">公开时间：{{ (info.pubicAt ?? '') |date("Y-m-d H:i:s") }}</p>
        <p class="text-right">创建时间：{{ (info.createdAt ?? '') |date("Y-m-d H:i:s") }}</p>
        <p class="text-right">上次更新时间：{{ (info.updatedAt ?? '') |date("Y-m-d H:i:s") }}</p>
    </div>
{% endblock %}

{% block js %}
{% endblock %}